!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chat
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: 'https://www.google.com/recaptcha/api.js'}
  %body
    = render 'layouts/header'
    .col-md-1
      = render 'layouts/users_all'
    -#= render 'layouts/messages'
    .col-md-11
      = yield
    = render 'layouts/footer'
